/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html {
    background-color: #fff;
    color: #505050;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #faf9f9;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.the-texter {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the tab */
.tab {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    border-radius: 300px;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablinks1 {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.tablinks2 {
    border: 1px solid #838383;
}

.tablinks3 {
    border: 1px solid #838383;
}


.btn-one:hover,
.btn-one:active {
    background-color: #cf6d17;
}

.btn-two:hover,
.btn-two:active {
    background-color: #cf6d17;
}

.btn-three:hover,
.btn-three:active {
    background-color: #cf6d17;
}


.h3 {
    font-size: 20px;
    float: right;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

